div { display: block; margin: 0; padding: 0; border: 0 none; outline: 0; background: transparent; font-weight: normal; font-style: normal; }
#inner { width:1000px; margin: 0 auto; }
.hot-event { padding: 300px 0 0; position: relative; }
.hot-event .switch-tab { text-align: center; padding: 10px 0; }
.hot-event .switch-tab a, .hot-event .switch-tab .current { margin: 0 2px; display: inline-block; width: 15px; height: 15px; background-image: url(bg.png); background-position: -161px 0; font: 0/0 arial; color: transparent; overflow: hidden; vertical-align: top; }
.hot-event .switch-tab .current { background-image: url(bg.png); background-position: -195px 0; }
.hot-event .switch-nav { position: absolute; right: 12px; top: 254px; z-index: 2; }
.hot-event .switch-nav .i-prev { background-image: url(bg.png); background-position: -127px 0; }
.hot-event .switch-nav .prev { border-radius: 3px 0 0 3px; border-width: 1px; }
.hot-event .switch-nav .next { border-radius: 0 3px 3px 0; border-width: 1px 1px 1px 0; }
.hot-event .switch-nav .i-next { background-image: url(bg.png); background-position: -144px 0; }
.hot-event .switch-nav a { display: inline-block; padding: 7px 16px; background: rgba(0,0,0,.3); border-style: solid; border-color:#a6a6a6; }/* rgba(255,255,255,.6)*/
.hot-event .switch-nav a:hover { background: rgba(0,0,0,.2);border-color:#ff6600; }
.hot-event .event-item { height: 300px; width:1000px; position: absolute; z-index: 1; left: 0; top: 0; }
.hot-event .event-item .banner { display: block; }
.hot-event .event-item img { -webkit-box-reflect: below 0 -webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(85%,transparent),to(rgba(255,255,255,.2))); border: 0; }
.hide-clip { position: absolute!important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); padding: 0!important; border: 0!important; height: 1px!important; line-height: 0!important; width: 1px!important; overflow: hidden; }
a { color: #4385a7; }
a { text-decoration: none; }
a .ico { cursor: pointer; }
.ico { display: inline-block; width: 16px; height: 16px; vertical-align: middle; overflow: hidden; }