.pw-strength {
	clear: both;
	position: relative;
	top: 8px;
	width: 180px;
}

.pw-bar {
	background: url(../../images/pwd/pwd-1.png) no-repeat;
	height: 14px;
	overflow: hidden;
	width: 179px;
}

.pw-bar-on {
	background: url(../../images/pwd/pwd-2.png) no-repeat;
	width: 0px;
	height: 14px;
	position: absolute;
	top: 1px;
	left: 2px;
	transition: width .5s ease-in;
	-moz-transition: width .5s ease-in;
	-webkit-transition: width .5s ease-in;
	-o-transition: width .5s ease-in;
}

.pw-weak .pw-defule {
	width: 0px;
}

.pw-weak .pw-bar-on {
	width: 60px;
}

.pw-medium .pw-bar-on {
	width: 120px;
}

.pw-strong .pw-bar-on {
	width: 179px;
}

.pw-txt {
	padding-top: 2px;
	width: 180px;
	overflow: hidden;
}

.pw-txt span {
	color: #707070;
	float: left;
	font-size: 12px;
	text-align: center;
	width: 58px;
}

/*前台按钮统一样式*/
.btn_bg{
color:#fff;
width:97px;
height:32px;
border:none;
background:url(../images/btn_bg.jpg) no-repeat;
}
.btn_bg_hover{
color:#fff;
width:97px;
height:32px;
border:none;
background:url(../images/btn_bg_hover.jpg) no-repeat;
}
