	#supersized{
	    position:fixed;
	}
	#supersized img{ -ms-interpolation-mode: bicubic; }
	#supersized img, #supersized a{
	    height:100%;
	    width:100%;
	    position:absolute;
	    z-index: -1;
	}
	
	#supersized .prevslide, #supersized .prevslide img{
	    z-index: 1;
	}
	#supersized .activeslide, #supersized .activeslide img{
	    z-index: 2;
	}
	
	#nextthumb, #prevthumb{ z-index:6; display:none; position:absolute; bottom:12px; height:75px; width:100px; overflow:hidden; border:2px solid #fff; -webkit-box-shadow: 0px 0px 5px #000; }
	#nextthumb{ right:12px; }
	#prevthumb{ left:12px; }
		#nextthumb img, #prevthumb img{ width:150px; }
		#nextthumb:active, #prevthumb:active{ bottom:10px; }
		
		/*Add hover pointer*/
		#controls > *:hover, #nextthumb:hover, #prevthumb:hover{ cursor:pointer; }
		