
<div id="head" style="margin-top:10px;">
	<div class="top">
		<div class="logo">
			<a href="#"><img alt="智慧食药监logo" src="images/logo-tmyp.png"
				title="智慧食药监logo" align="absmiddle" id="top_logo"> </a>
		</div>
		<div class="search">
			<form id="form1" method="get">
				<span>站内搜索</span> <span> <input type="text"
					id="t_commc" name="commc" class="inputs"
					placeholder="请输入企业名称"> <input type="button" id="search"
					class="btns" value="搜 索" onclick="searchEnterprise()"> </span>
			</form>
		</div>
	</div>
</div>
<!--导航-->
<div id="nav" class="layout">
	<ul>
		<li><a href="javascript:linkToSelf(basePath + 'index_zhsyj_ty.jsp');">网站首页</a>
			<div></div>
		</li>
		<li><a href="javascript:void(0);">菜市场地图</a>
			<div style="display: none;">
				<a href="javascript:linkToSelf('map.jsp?comxiaolei=10140101&currlocation=菜市场地图>>批发市场');">批发市场</a>
				<a href="javascript:linkToSelf('map.jsp?comxiaolei=10140102&currlocation=菜市场地图>>农贸市场');">农贸市场</a>
				<a href="javascript:linkToSelf('map.jsp?comxiaolei=10140103&currlocation=菜市场地图>>超市');">超市</a>
<!-- 				<a href="javascript:linkToSelf('map.jsp?comxiaolei=10140104&currlocation=菜市场地图>>网货中心');">网货中心</a> -->
<!-- 				<a href="javascript:linkToSelf('map.jsp?comxiaolei=10140105&currlocation=菜市场地图>>冷链仓储');">冷链仓储</a> -->
<!-- 				<a href="javascript:linkToSelf('map.jsp?comxiaolei=10140106&currlocation=菜市场地图>>产地直供');">产地直供</a> -->
<!-- 				<a href="javascript:linkToSelf('map.jsp?comxiaolei=10140107&currlocation=菜市场地图>>农产品平价店');">农产品平价店</a> -->
			</div>
		</li>
		<li><a href="javascript:linkToSelf('enterprise_list.jsp?comxiaolei=10140101&currlocation=批发市场');">批发市场</a>
			<div></div>
		</li>
		<li><a href="javascript:linkToSelf('enterprise_list.jsp?comxiaolei=10140102&currlocation=农贸市场');">农贸市场</a>
			<div></div>
		</li>
		<li><a href="javascript:linkToSelf('enterprise_list.jsp?comxiaolei=10140103&currlocation=超市');">超市</a>
			<div></div>
		</li>
<!-- 		<li><a href="javascript:linkToSelf('enterprise_list.jsp?comxiaolei=10140104&currlocation=网货中心');">网货中心</a> -->
<!-- 			<div></div> -->
<!-- 		</li> -->
<!-- 		<li><a href="javascript:linkToSelf('enterprise_list.jsp?comxiaolei=10140105&currlocation=冷链仓储');">冷链仓储</a> -->
<!-- 			<div></div> -->
<!-- 		</li> -->
<!-- 		<li><a href="javascript:linkToSelf('enterprise_list.jsp?comxiaolei=10140106&currlocation=产地直供');">产地直供</a> -->
<!-- 			<div></div> -->
<!-- 		</li> -->
<!-- 		<li><a href="javascript:linkToSelf('enterprise_list.jsp?comxiaolei=10140107&currlocation=农产品平价店');">农产品平价店</a> -->
<!-- 			<div></div> -->
<!-- 		</li> -->
<!-- 		<li><a href="javascript:linkToSelf('enterprise_list.jsp?comxiaolei=10140103&currlocation=快检中心');">快检中心</a> -->
<!-- 			<div></div> -->
<!-- 		</li>  -->
<!-- 		<li><a href="javascript:linkToSelf('javascript:void(0);">信息公开</a> -->
<!-- 			<div style="display: none;"> -->
<!-- 				<a href="javascript:linkToSelf('punish_list.html?code=QTJD&currlocation=信息公开>>日常监督检查');">日常监督检查</a>  -->
<!-- 				<a href="javascript:linkToSelf('punish_list.html?code=ZXJC&currlocation=信息公开>>专项检查情况');">专项检查情况</a>  -->
<!-- 				<a href="javascript:linkToSelf('punish_list.html?code=JDCJ&currlocation=信息公开>>监督抽检情况');">监督抽检情况</a>  -->
<!-- 				<a href="javascript:linkToSelf('punish_list.html?code=XZCF&currlocation=信息公开>>行政处罚情况');">行政处罚情况</a>  -->
<!-- 				<a href="javascript:linkToSelf('news_list.html?code=FLFG&currlocation=信息公开>>监管责任');">监管责任</a> -->
<!-- 			</div> -->
<!-- 		</li>		 -->
<!-- 		<li><a href="javascript:linkToSelf('javascript:void(0);">双责任清单</a>  -->
<!-- 			<div style="display: none;">  -->
<!-- 				<a href="javascript:linkToSelf('zrqd.html?tp=1&currlocation=双责任清单>>企业主体责任清单');">企业主体责任清单</a>  -->
<!-- 				<a href="javascript:linkToSelf('zrqd.html?tp=2&currlocation=双责任清单>>执法监管人员责任清单');">执法人员责任清单</a>  -->
<!-- 			</div>  -->
<!-- 		</li> -->
<!-- 		<li><a href="javascript:void(0);">企业红黑榜</a>  -->
<!-- 			<div style="display: none;">  -->
<!-- 				<a href="javascript:linkToSelf('enterprise_list2.jsp?currlocation=企业名录>>优秀名录');">红榜名单</a>  -->
<!-- 				<a href="javascript:linkToSelf('enterprise_list2.jsp?currlocation=企业名录>>异常名录');">黑榜名单</a>  -->
<!-- 			</div>  -->
<!-- 		</li> -->
<!-- 		<li><a href="javascript:void(0);">案例警示</a>  -->
<!-- 			<div style="display: none;">  -->
<!-- 				<a href="javascript:linkToSelf('news_list2.html?code=ALJS01&currlocation=案例警示>>典型案例');">典型案例</a>  -->
<!-- 				<a href="javascript:linkToSelf('news_list2.html?code=ALJS02&currlocation=案例警示>>消费警示');">消费警示</a>  -->
<!-- 			</div>  -->
<!-- 		</li>   -->
	</ul>
</div>
<div style="width:80%;min-width:1030px;margin: 5px auto 5px auto;">
    <!-- 广告图片 -->
    <div id="advertising">
        <img src="images/tmyp.jpg" style="width: 100%;height: 100%;"/>
    </div>
</div>
<script type="text/javascript">	
	$(function() {
		//下拉菜单
		$("#nav li").hover(function() {
			$(this).find("div").show();
		}, function() {
			$(this).find("div").hide();
		});
		
		//initTopLogo();
	});
	//搜索企业
	function searchEnterprise() {	
		var url = "enterprise_list.jsp?commc=" + $("#t_commc").val();
		linkToSelf(url);
	}
	
	function initTopLogo(){
		$.ajax({
	        url: basePath + "api/tmsyj/getAa01List",
	        type: "post",
	        dataType: 'json',
	        data: { aaa001: "SYSAAA027" },
	        success: function(result){ 
            	if(result.code == '0'){
		            $.each(result.rows, function (index, item) {
		            	var sysaaa027 = item.aaa005;		                
	                    if (sysaaa027 == "410523000000") {//汤阴县
	                        $("#top_logo").attr("src","images/logo-tmyp-tangyin.png");
	                    } else if (sysaaa027 == "411700000000") {//驻马店
	                        $("#top_logo").attr("src","images/logo-tmyp-zhumadian.png");
	                    } else if (sysaaa027 == "411400000000") {//商丘
	                        $("#top_logo").attr("src","images/logo-tmyp-shangqiu.png");
	                    } else if (sysaaa027 == "411282000000") {//灵宝
	                        $("#top_logo").attr("src","images/logo-tmyp-lingbao.png");
	                    } else if (sysaaa027 == "410482000000") {//汝州
	                        $("#top_logo").attr("src","images/logo-tmyp-ruzhou.png");
	                    }					                
		            });
				}else{
					alert(result.msg);	
				}
	        }
	    });	
	}	
</script>

